@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    @model Application
}

<h2>Add Movie!</h2>

<form method="post">
    <label asp-for="Category">Category:</label>
    <input asp-for="Category"/>
    <br/>
    <label asp-for="Title">Title:</label>
    <input asp-for="Title"/>
    <br/>
    <label asp-for="Year">Year:</label>
    <input asp-for="Year"/>
    <br/>
    <label asp-for="Director">Director:</label>
    <input asp-for="Director"/>
    <br/>
    <label asp-for="Rating">Rating:</label>
    <select asp-for="Rating">
        <option>G</option>
        <option>PG</option>
        <option>PG-13</option>
        <option>R</option>
    </select>
    <br/>
    <label asp-for="Edited">Edited:</label>
    <input asp-for="Edited"/>
    <br/>
    <label asp-for="LentTo">Lent To:</label>
    <input asp-for="LentTo"/>
    <br/>
    <label asp-for="Notes">Notes</label>
    <input asp-for="Notes" maxlength="25"/>
    <br/>
    
    <button type="submit">Submit Entry</button>
</form>
