@{
    ViewData["Title"] = "Home Page";
    @model Application;
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/images/1.jpg"/>
</div>

<br/>

<div>
    <a asp-controller="Home" asp-action="Joel">Get to know Joel!</a>
</div>

<div>
    <a asp-controller="Home" asp-action="AddMovie">Enter a movie to the collection!</a>
</div>