@*
*@

@{
    ViewBag.Title = "Get To Know Joel!";
    Layout = "_Layout";
}

<h2>Get To Know Joel!</h2>

<a href="https://www.qwcomedy.com/">Click here
    to visit Quick Wits Comedy where Joel
    performs regularly!</a>
<br/>
<br/>
<br/>
<a href="https://baconsale.com/" target="_blank">
    <img src="/images/bs.jpg" alt="Baconsale" />
</a>
<a href="https://baconsale.com/">Click here
    to visit Baconsale!</a>

